
body {
    margin: 0;
    padding: 0;  
    font-family: 'Inter', sans-serif;
}
.color{
  color: #a706f8;
}
.bg{
  background-color: #a706f8;
}
.center{
  
  text-align: center;
  color: black;
}
/* Header */

.header{
    height: 80vh; 
    width: 100%;
    background-image: url('./images/bg.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.contact-details{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: purple;
    padding: 10px;
    color: white;
}
.logo{
  background-image: url("https://images.all-free-download.com/images/graphiclarge/purple_airplane_icon_vector_280729.jpg");
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 10px;
}
.contact-details span{
      text-align: right;

  }
  

/*  Navbar */

  .navbar {
    background-color: transparent;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    padding-left: 40px;
    font-size: 30px;
  }
  .brand span{
    color: purple;
  }
  .nav-links{
    padding-right: 40px;
  }
  .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .nav-links a:hover {
    border-bottom: 2px solid white;
  }


  .tagline{
    margin-top: 20vh;
    /* margin-left:  30vw; */
    /* align-items: center; */
    justify-content: center;
}
  .tagline h1{
    font-size: 3em;
    color: rgb(169, 237, 226);
    font-weight: bold;
    text-align: center;
    /* align-items: center; */
    margin: 0;
    
    font-size: 50px;
   
  }
  .tagline p{
    font-size: 1em;
    margin-left: 150px;
    color: rgb(169, 54, 54);
    font-size: 25px;
    margin: 0;
    text-align: center;
    /* align-items: center; */
    
    /* margin-top: 200px;
    margin-left: 200px; */
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}



/* features    */

.features {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 100px; */
  padding: 60px;
}

.deals{
  color: white;
  text-align: center;
  font-size: 30px;
  border-top: 0;
  position: relative;
  top: 400px;
}


.feature.img{
  border-radius: 25px;

  padding: 20px;

  /* box-shadow: 20px -60px 0px 0px  rgba(128, 0, 128, 0.5) inset; */
  box-shadow: 0px 0px 10px 20px 5px rgba(92, 13, 13, 0.8) inset;
  color: #007BFF;
  height: 500px; /* 80% of the viewport height */
  width: 320px;
  background-image: url("./images/product.jpg");
  /* box-shadow: inset 0px -56px 0px rgba(111, 13, 153, 0.688); */
  box-shadow:inset 0px -136px 80px 0px rgba(4, 60, 128, 1);
  z-index: 1;
  
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat; 
  margin: 10px;
}



.feature.text{
  border-radius: 25px;
  height: 500px; /* 80% of the viewport height */
  width: 320px;

}
.feature.text h1{

  font-size: 50px;
  color: rgb(0, 0, 0);
  align-items: center;
}
.feature.text p{

  font-size: 20px;
  color: rgb(0, 0, 0);
  align-items: center;
}






  /* Top destinations */

  .topDestinationContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);



    /* grid-template-columns: repeat(2, 1fr); */

    gap: 0px; /* Adjust as needed */
    padding: 0px; /* Adjust as needed */
     width: 98%;
     height: 100vh;   
     background-size: cover; 
     
     margin: 20px ;   
}


.grid-item1 {
    
    padding: 250px;
    width: 40vh;
    text-align: center;
    background-image: url("./images/torism.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 25px;
    
}

.grid-item2 {
    padding: 20px;
    justify-content: space-evenly;
    width: 25vh;   
}

/* .grid2 {
    padding: 20px;
    justify-content: space-evenly;
    width: 25vh;   
} */


.grid-item3 {
   
    padding: 33px;
    height: 154px;
    margin-bottom: 21px;
    border-radius: 13px;
    background-image: url("./images/sea.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
   
}.grid-item4 {
    height: 154px;
    margin-bottom: 21px;
    border-radius: 13px;
    background-image: url("./images/sea.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 33px;
}
.grid-item5 {
    height: 300px;
    margin-bottom: 21px;
    border-radius: 13px;
    background-image: url("./images/sea.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 34px;
}


.grid-item8 {
    height: 154px;
    margin-bottom: 21px;
    border-radius: 13px;
    background-image: url("./images/sea.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 34px;
}
 .grid-item9 {
    height: 154px;
    margin-bottom: 21px;
    border-radius: 13px;
    background-image: url("./images/sea.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 34px;
}

.grid-item10 {
    background-image: url("./images/tajmahals.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 300px;
    margin-bottom: 21px;
    border-radius: 13px;
    /* background-color: #db344d; */
    padding: 33px;
}
.my-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #3498db;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

  .my-button:hover {
    background-color: #3498db;
    color: #fff;
  }




/* hot deals */

.hotDeals{
  margin-top: 200px;
  margin-left: 65px;
}


.hotDealGrid {
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns:4, 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
  align-items: start;
}

.gridItem {
  background-color: #fff;
  /* width: 20vw; */
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;

}

.card img {
  display: block;
  width: 80%;
  height: 18rem;
  object-fit: cover;
  border-radius: 20px;
}
.location{
  /* background-image: url("./images/deal.jpg"); */
  position: relative;
  left: 20px;
  bottom: 55px;
}

.card__content h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}
.card__content p {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}





/* Offer */

.offer {
  margin: 50px ;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  height: 50vh;
  gap: 20px;
}
.first{
  position: relative;
  background-image: url("./images/passport.jpg")   ;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 20px;
}

.second{
  background-image: url("./images/mountain_travellers.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 20px;
}

.third{
  background-image: url("./images/mountain_travellers.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 20px;
  
}
.btn2{
  font-size: 15px;
  color: white;
  height: 2.5rem;
    width: 10rem;
    border-radius: 5px;
    border-style: none;
}
.offer-h1{
  position: relative;
  color: #ffffff;
}
.offerText{
  margin-left: 2vw;
  position: relative;
  top: 35vh;
}

/* destination */



button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  gap: 100px;
}
city {
  border: 3px solid black;
justify-content:center ;
}

/* Define the grid container */
.gridContainer2 {
display: grid;
grid-template-rows: repeat(3, 100px); /* Three rows, each 100px tall */
grid-template-columns: repeat(3, 1fr); /* Three columns, each taking 1 fraction of the available space */
gap: 10px;
/* background-color: blue; */
}

.gridChild {
background-color: aqua;
display: grid;
grid-template-columns: 1fr 3fr;
/* border-radius: 10px 10px; */
}
.child1{
background-color: red;
background-size: cover;
background-image: url(https://contile-images.services.mozilla.com/Lbtwp8lOwiYh9vxiwPInJ_U7mlWtWHU5_yHpcziM01U.10324.jpg);
border-radius: 10px 0px 0px 10px;
} .child1{
background-color: rgb(255, 5, 5)(255, 242, 0);
}

.grid-item {
border: 1px solid black;

text-align: center;
border-radius: 10px 10px;
}
.grid-container {
grid-gap: 30px;
}


/* Footer */

#footer
*{
    margin:0;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    background-color: red;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    padding-left: 10px;
}
.footer{
 
    padding: 70px 15px;
}
.footer-col{
    width: 20%;
    padding: 0 ;
}
.footer-col h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    padding-left:10px ;

}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing:border-box;
    width: 40px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
   
    text-decoration: none;
    font-weight: 300;
   
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
 
    padding-left: 8px;
}
.social-link{
    display: flex;
}
.social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(128, 4, 4, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.social-links a:hover{
    color: #24262b;
    background-color: #0c0c0c;
}

